{% extends 'layout/layout.html' %}

{% block content %}

{% include "part/header.html" %}

<div class="bg-dark py-2">
	<div class="container">
		<div class="d-sm-flex justify-content-between">
			<form class="my-2">
				<div class="d-flex">
					<input type="text" class="form-control" placeholder="Hledat" aria-label="Hledat">
					<button type="submit" class="btn btn-secondary d-flex align-items-center text-black ml-1" aria-label="Hledat">
						<svg role="img" class="icon-arrow-right">
							<use xlink:href="#icon-arrow-right"></use>
						</svg>
					</button>
				</div>
			</form>
			<a class="btn btn-secondary text-black d-flex align-items-center my-2" href="#">
				<svg role="img" class="icon-plus mr-2">
					<use xlink:href="#icon-plus"></use>
				</svg>
				Nová zpráva
			</a>
		</div>
	</div>
</div>
<div class="bg-light py-4">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 order-lg-2">
				<div class="mb-4">
					<a href="#" class="btn btn-info btn-block rounded-0 py-2 m-0 border-bottom border-light d-flex align-items-center justify-content-between">
						<svg role="img" class="icon-category lead mr-3">
							<use xlink:href="#icon-category"></use>
						</svg>
						<span class="mr-auto">Všechny</span>
						<small class="ml-2">50</small>
					</a>
					<a href="#" class="btn btn-info-light btn-block rounded-0 py-2 m-0 border-bottom border-light d-flex align-items-center justify-content-between">
						<svg role="img" class="icon-incoming lead mr-3">
							<use xlink:href="#icon-incoming"></use>
						</svg>
						<span class="mr-auto">Přijaté</span>
						<small class="ml-2">25</small>
					</a>
					<a href="#" class="btn btn-info-light btn-block rounded-0 py-2 m-0 border-bottom border-light d-flex align-items-center justify-content-between">
						<svg role="img" class="icon-outgoing lead mr-3">
							<use xlink:href="#icon-outgoing"></use>
						</svg>
						<span class="mr-auto">Odeslané</span>
						<small class="ml-2">25</small>
					</a>
				</div>
			</div>
			<div class="col-lg-9 order-lg-1">
				<div class="list-group mb-3">
					<div class="list-group-item d-sm-flex align-items-center py-2">
						<div class="d-none d-md-block mr-3">
							<img class="img-fluid rounded-circle" src="../img/01.jpg" alt="">
						</div>
						<div class="mr-2">
							<div class="small">
								<span class="badge badge-info text-uppercase mr-1">Komu</span>
								<strong>Rybářová Jana</strong>
								<span class="d-inline-block text-muted">st 22. Červen 2016 15:26</span>
							</div>
							<div>Předmět zprávy</div>
							<div class="text-muted small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo nulla orci…</div>
						</div>
						<div class="d-flex ml-auto justify-content-between my-1">
							<a href="#" class="btn btn-sm btn-outline-dark">Odpovědět</a>
							<a href="#" class="text-muted lead ml-3" title="Smazat" aria-label="Smazat" data-toggle="tooltip">
								<svg role="img" class="icon-trash">
									<use xlink:href="#icon-trash"></use>
								</svg>
							</a>
						</div>
					</div>
					<div class="list-group-item d-sm-flex align-items-center py-2">
						<div class="d-none d-md-block mr-3">
							<img class="img-fluid rounded-circle" src="../img/01.jpg" alt="">
						</div>
						<div class="mr-2">
							<div class="small">
								<span class="badge badge-info text-uppercase mr-1">Komu</span>
								<strong>Rybářová Jana</strong>
								<span class="d-inline-block text-muted">st 22. Červen 2016 15:26</span>
							</div>
							<div>Předmět zprávy</div>
							<div class="text-muted small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo nulla orci…</div>
						</div>
						<div class="d-flex ml-auto justify-content-between my-1">
							<a href="#" class="btn btn-sm btn-outline-dark">Odpovědět</a>
							<a href="#" class="text-muted lead ml-3" title="Smazat" aria-label="Smazat" data-toggle="tooltip">
								<svg role="img" class="icon-trash">
									<use xlink:href="#icon-trash"></use>
								</svg>
							</a>
						</div>
					</div>
					<div class="list-group-item d-sm-flex align-items-center py-2">
						<div class="d-none d-md-block mr-3">
							<img class="img-fluid rounded-circle" src="../img/01.jpg" alt="">
						</div>
						<div class="mr-2">
							<div class="small">
								<span class="badge badge-success text-uppercase mr-1">Od</span>
								<strong>Rybářová Jana</strong>
								<span class="d-inline-block text-muted">st 22. Červen 2016 15:26</span>
							</div>
							<div>Předmět zprávy</div>
							<div class="text-muted small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo nulla orci…</div>
						</div>
						<div class="d-flex ml-auto justify-content-between my-1">
							<a href="#" class="btn btn-sm btn-outline-dark">Odpovědět</a>
							<a href="#" class="text-muted lead ml-3" title="Smazat" aria-label="Smazat" data-toggle="tooltip">
								<svg role="img" class="icon-trash">
									<use xlink:href="#icon-trash"></use>
								</svg>
							</a>
						</div>
					</div>
					<div class="list-group-item d-sm-flex align-items-center py-2">
						<div class="d-none d-md-block mr-3">
							<img class="img-fluid rounded-circle" src="../img/01.jpg" alt="">
						</div>
						<div class="mr-2">
							<div class="small">
								<span class="badge badge-info text-uppercase mr-1">Komu</span>
								<strong>Rybářová Jana</strong>
								<span class="d-inline-block text-muted">st 22. Červen 2016 15:26</span>
							</div>
							<div>Předmět zprávy</div>
							<div class="text-muted small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo nulla orci…</div>
						</div>
						<div class="d-flex ml-auto justify-content-between my-1">
							<a href="#" class="btn btn-sm btn-outline-dark">Odpovědět</a>
							<a href="#" class="text-muted lead ml-3" title="Smazat" aria-label="Smazat" data-toggle="tooltip">
								<svg role="img" class="icon-trash">
									<use xlink:href="#icon-trash"></use>
								</svg>
							</a>
						</div>
					</div>
					<div class="list-group-item d-sm-flex align-items-center py-2">
						<div class="d-none d-md-block mr-3">
							<img class="img-fluid rounded-circle" src="../img/01.jpg" alt="">
						</div>
						<div class="mr-2">
							<div class="small">
								<span class="badge badge-info text-uppercase mr-1">Komu</span>
								<strong>Rybářová Jana</strong>
								<span class="d-inline-block text-muted">st 22. Červen 2016 15:26</span>
							</div>
							<div>Předmět zprávy</div>
							<div class="text-muted small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo nulla orci…</div>
						</div>
						<div class="d-flex ml-auto justify-content-between my-1">
							<a href="#" class="btn btn-sm btn-outline-dark">Odpovědět</a>
							<a href="#" class="text-muted lead ml-3" title="Smazat" aria-label="Smazat" data-toggle="tooltip">
								<svg role="img" class="icon-trash">
									<use xlink:href="#icon-trash"></use>
								</svg>
							</a>
						</div>
					</div>
					<div class="list-group-item d-sm-flex align-items-center py-2">
						<div class="d-none d-md-block mr-3">
							<img class="img-fluid rounded-circle" src="../img/01.jpg" alt="">
						</div>
						<div class="mr-2">
							<div class="small">
								<span class="badge badge-success text-uppercase mr-1">Komu</span>
								<strong>Rybářová Jana</strong>
								<span class="d-inline-block text-muted">st 22. Červen 2016 15:26</span>
							</div>
							<div>Předmět zprávy</div>
							<div class="text-muted small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo nulla orci…</div>
						</div>
						<div class="d-flex ml-auto justify-content-between my-1">
							<a href="#" class="btn btn-sm btn-outline-dark">Odpovědět</a>
							<a href="#" class="text-muted lead ml-3" title="Smazat" aria-label="Smazat" data-toggle="tooltip">
								<svg role="img" class="icon-trash">
									<use xlink:href="#icon-trash"></use>
								</svg>
							</a>
						</div>
					</div>
					<div class="list-group-item d-sm-flex align-items-center py-2">
						<div class="d-none d-md-block mr-3">
							<img class="img-fluid rounded-circle" src="../img/01.jpg" alt="">
						</div>
						<div class="mr-2">
							<div class="small">
								<span class="badge badge-success text-uppercase mr-1">Komu</span>
								<strong>Rybářová Jana</strong>
								<span class="d-inline-block text-muted">st 22. Červen 2016 15:26</span>
							</div>
							<div>Předmět zprávy</div>
							<div class="text-muted small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo nulla orci…</div>
						</div>
						<div class="d-flex ml-auto justify-content-between my-1">
							<a href="#" class="btn btn-sm btn-outline-dark">Odpovědět</a>
							<a href="#" class="text-muted lead ml-3" title="Smazat" aria-label="Smazat" data-toggle="tooltip">
								<svg role="img" class="icon-trash">
									<use xlink:href="#icon-trash"></use>
								</svg>
							</a>
						</div>
					</div>
					<div class="list-group-item d-sm-flex align-items-center py-2">
						<div class="d-none d-md-block mr-3">
							<img class="img-fluid rounded-circle" src="../img/01.jpg" alt="">
						</div>
						<div class="mr-2">
							<div class="small">
								<span class="badge badge-info text-uppercase mr-1">Komu</span>
								<strong>Rybářová Jana</strong>
								<span class="d-inline-block text-muted">st 22. Červen 2016 15:26</span>
							</div>
							<div>Předmět zprávy</div>
							<div class="text-muted small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo nulla orci…</div>
						</div>
						<div class="d-flex ml-auto justify-content-between my-1">
							<a href="#" class="btn btn-sm btn-outline-dark">Odpovědět</a>
							<a href="#" class="text-muted lead ml-3" title="Smazat" aria-label="Smazat" data-toggle="tooltip">
								<svg role="img" class="icon-trash">
									<use xlink:href="#icon-trash"></use>
								</svg>
							</a>
						</div>
					</div>
					<div class="list-group-item d-sm-flex align-items-center py-2">
						<div class="d-none d-md-block mr-3">
							<img class="img-fluid rounded-circle" src="../img/01.jpg" alt="">
						</div>
						<div class="mr-2">
							<div class="small">
								<span class="badge badge-info text-uppercase mr-1">Komu</span>
								<strong>Rybářová Jana</strong>
								<span class="d-inline-block text-muted">st 22. Červen 2016 15:26</span>
							</div>
							<div>Předmět zprávy</div>
							<div class="text-muted small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo nulla orci…</div>
						</div>
						<div class="d-flex ml-auto justify-content-between my-1">
							<a href="#" class="btn btn-sm btn-outline-dark">Odpovědět</a>
							<a href="#" class="text-muted lead ml-3" title="Smazat" aria-label="Smazat" data-toggle="tooltip">
								<svg role="img" class="icon-trash">
									<use xlink:href="#icon-trash"></use>
								</svg>
							</a>
						</div>
					</div>
					<div class="list-group-item d-sm-flex align-items-center py-2">
						<div class="d-none d-md-block mr-3">
							<img class="img-fluid rounded-circle" src="../img/01.jpg" alt="">
						</div>
						<div class="mr-2">
							<div class="small">
								<span class="badge badge-info text-uppercase mr-1">Komu</span>
								<strong>Rybářová Jana</strong>
								<span class="d-inline-block text-muted">st 22. Červen 2016 15:26</span>
							</div>
							<div>Předmět zprávy</div>
							<div class="text-muted small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo nulla orci…</div>
						</div>
						<div class="d-flex ml-auto justify-content-between my-1">
							<a href="#" class="btn btn-sm btn-outline-dark">Odpovědět</a>
							<a href="#" class="text-muted lead ml-3" title="Smazat" aria-label="Smazat" data-toggle="tooltip">
								<svg role="img" class="icon-trash">
									<use xlink:href="#icon-trash"></use>
								</svg>
							</a>
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-center">
					<a href="#" class="btn btn-white d-flex align-items-center mx-2">
						<svg role="img" class="icon-arrow-left mr-2">
							<use xlink:href="#icon-arrow-left"></use>
						</svg>
						<small>Předchozí</small>
					</a>
					<a href="#" class="btn btn-white d-flex align-items-center mx-2">
						<small>Další</small>
						<svg role="img" class="icon-arrow-right ml-2">
							<use xlink:href="#icon-arrow-right"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}