<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container align-items-center">
		<a class="navbar-brand" href="#">
			<svg role="img" class="icon-logo">
				<use xlink:href="#icon-logo"></use>
			</svg>
		</a>
		<button class="navbar-toggler my-3" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Hlavní menu">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="mainmenu">
			<ul class="navbar-nav lead">
				<li class="nav-item active">
					<a class="nav-link" href="#">Kalendář</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Zprávy</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Váš účet</a>
				</li>
			</ul>
			<hr class="d-lg-none">
			<ul class="navbar-nav lead ml-auto">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Marek Toušek</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
					  <a class="dropdown-item" href="#">Action</a>
					  <a class="dropdown-item" href="#">Another action</a>
					  <a class="dropdown-item" href="#">Something else here</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>