// --- FONTS ---
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&subset=latin-ext');

// --- BOOTSTRAP ---
@import "bootstrap/bootstrap";

// --- COMPONENTS ---
@import "components/icons";

// --- SPRITES ---
@import "../../dist/svg/icons/svg-symbols.css";



small,.small {
	small,.small {
		font-size: 83%;
		small,.small {
			font-size: 80%;
		}
	}
}


.navbar-brand {
	line-height: .5;
}

.navbar-dark .navbar-nav .nav-link {
	@include media-breakpoint-down(md) {
		padding-left: $nav-link-padding-x;
		padding-right: $nav-link-padding-x;
	}
}
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active {
	@include media-breakpoint-down(md) {
		background: rgba($white,.125);
	}
	@include media-breakpoint-up(lg) {
		position: relative;
		&::after {
			content: '';
			position: absolute;
			left: $navbar-toggler-padding-x * .75;
			right: $navbar-toggler-padding-x * .75;
			bottom: -($navbar-padding-y);
			height: $navbar-toggler-padding-y;
			background: $white;
			border-radius: $border-radius-sm $border-radius-sm 0 0;
		}
	}
}

.navbar-dark hr {
	border-color: rgba($white, .25);
}


.btn-info-light {
	color: $info;
}

















body {
	&::before {
		//content: '';
		position: absolute;
		z-index: 99999;
		top: 0;
		left: 0;
		right: 0;
		height: 1000vh;
		background-image: url(http://localhost/rezervace.jizdarnaradonice.cz/design/Desktop%20obecn%C3%BD/03.png);
		background-position: top;
		background-repeat: no-repeat;
		opacity: .7;
	}
	&:hover::before {
		display: none;
	}
}